<div class="ui main text container">
        <div class="ui huge header">Book Resources</div>
        <p>Here you can look up book resources for web development related subjects </p>
        
        <div class="ui top attached segment">
          <div class="ui divided items">

            <div class="item">
              <div class="image">
                <img src="assets\html-pic.png"/>
              </div>
              <div class="content">
                <a class="header" href="html.html">HTML</a>
                <div class="meta">
                <div class="description">
                  <p>HTML otherwise known as hyper text markup language, is the standard markup language for documents designed to be displayed in a web browser </p>
                </div>
                <div class="extra">
                  <a class="ui floated basic violet button" href="html.html">
                    Books for HTML
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </div>
            </div>
        </div>
        
                <div class="item">
                  <div class="image">
                    <img src="assets\css.png"/>
                  </div>
                  <div class="content">
                    <a class="header" href="css.html">CSS</a>
                    <div class="meta">
                    <div class="description">
                      <p>CSS otherwise known as cascading style sheets, is used to design a webpage with variations in layout and design </p>
                    </div>
                    <div class="extra">
                      <a class="ui floated basic violet button" href="css.html">
                        Books for CSS
                        <i class="right chevron icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="item">
                <div class="image">
                  <img src="assets\javascriptpic.PNG"/>
                </div>
                <div class="content">
                  <a class="header" href="javascript.html">JavaScript</a>
                  <div class="meta">
                  <div class="description">
                    <p>JavaScript (JS) is an object-oriented programming language commonly used to create interactive effects within web browsers </p>
                  </div>
                  <div class="extra">
                    <a class="ui floated basic violet button" href="javascript.html">
                      Books for JavaScript
                      <i class="right chevron icon"></i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
         
         