<h1>Showing one book</h1>
<div class="ui main text container segment">
  <div class="ui huge header">Book Title</div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="" />
      <div class="content">
        <span>
            {{#each book}}
            {{/each}}
        </span>
        
      </div>
      <div class="description">
        <p>summary of book</p>
      </div>
      <a class="ui basic orange button" href="books\edit.hbs">Edit</a>
      <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="DESTROY">
        <button class="ui basic red button">Delete</button>
      </form>
    </div>
  </div>
</div>