<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="active item" href="/subjects">
            Subjects
        </a>
        <a class="item" href="/books">
            Books
        </a>
        <a class="item" href="/videos">
            Videos
        </a>
        <a class="item" href="/signup">
            Sign Up
        </a>
    </div>
</div>