<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="active item" href="subjects/index.hbs">
            Subjects
        </a>
        <a class="item" href="books/index.hbs">
            Books
        </a>
        <a class="item" href="videos/index.hbs">
            Videos
        </a>
    </div>
</div>