<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="item" href="/subjects">
            Subjects
        </a>
        <a class="item" href="/info">
            Info
        </a>
    </div>
</div>