<div>
    <form action="">
        <input id="emailInput" type="text" placeholder="johnsmith@gmail.com">
        <input id="passwordInput" type="text" placeholder="123...">
    </form>
    <button id="submitBtn">Sign Up</button>
    <script src="/js/signup.js"></script>
</div>