<div class="ui main text container">
        <div class="ui huge header">Video Resources</div>
        <p>Here you can look up video resources for web development related subjects </p>
        
        <div class="ui top attached segment">
          <div class="ui divided items">

            <div class="item">
              <div class="image">
                <img src="assets\html-pic.png"/>
              </div>
              <div class="content">
                <a class="header" href="videos/show.hbs">HTML</a>
                <div class="meta">
                <div class="description">
                  <p>HTML otherwise known as hyper text markup language, is the standard markup language for documents designed to be displayed in a web browser </p>
                </div>
                <div class="extra">
                  <a class="ui floated basic violet button" href="videos/show.hbs">
                    Videos for HTML
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </div>
            </div>
        </div>
        
                <div class="item">
                  <div class="image">
                    <img src="assets\css.png"/>
                  </div>
                  <div class="content">
                    <a class="header" href="videos/show.hbs">CSS</a>
                    <div class="meta">
                    <div class="description">
                      <p>CSS otherwise known as cascading style sheets, is used to design a webpage with variations in layout and design </p>
                    </div>
                    <div class="extra">
                      <a class="ui floated basic violet button" href="videos/show.hbs">
                       Videos for CSS
                        <i class="right chevron icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="item">
                <div class="image">
                  <img src="assets\javascriptpic.PNG"/>
                </div>
                <div class="content">
                  <a class="header" href="videos/show.hbs">JavaScript</a>
                  <div class="meta">
                  <div class="description">
                    <p>JavaScript (JS) is an object-oriented programming language commonly used to create interactive effects within web browsers </p>
                  </div>
                  <div class="extra">
                    <a class="ui floated basic violet button" href="videos/show.hbs">
                      Videos for JavaScript
                      <i class="right chevron icon"></i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
         