*{
  font-family: 'Times New Roman', Times, serif;

  background-color: cyan;
}
.ui card{
  text-align: center;
  box-sizing: border-box;
}
#body .extra .ui floated basic violet button{
  font-weight: bolder;
  
}